<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/">
      <button mat-button >
        <span class="title-toolbar">Minhas Series</span>
      </button>
    </a>
    <div class="div-buttons">
      <a routerLink="upcoming">
        <button mat-button class="button">Lançamentos</button>
      </a>
      <a routerLink="popular">
        <button mat-button class="button">Mais Populares</button>
      </a>
      <a routerLink="toprated">
        <button mat-button class="button">Em Alta</button>
      </a>
    </div>
    <span class="spacer"></span>
    <mat-icon class="icon-account">search</mat-icon>
    <input matInput placeholder="Buscar">
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>