<div class="main-container">
  <ul>
    <li> 
      <img src="../../assets/imagem.jpg" alt="image">
      <footer>
        <strong>Greenland</strong>
        <p>Jun 12, 2020</p>
      </footer>
    </li>

    <li> 
      <img src="../../assets/imagem.jpg" alt="image">
      <footer>
        <strong>Greenland</strong>
        <p>Jun 12, 2020</p>
      </footer>
    </li>

    <li> 
      <img src="../../assets/imagem.jpg" alt="image">
      <footer>
        <strong>Greenland</strong>
        <p>Jun 12, 2020</p>
      </footer>
    </li>

    <li> 
      <img src="../../assets/imagem.jpg" alt="image">
      <footer>
        <strong>Greenland</strong>
        <p>Jun 12, 2020</p>
      </footer>
    </li>
  </ul>
</div>
