<div class="main-container">
  <ul>
    <li> 
      <img src={{MOVIES.image}} alt="image">
      <footer>
        <strong>{{MOVIES.name}}</strong>
        <p>{{MOVIES.date}}</p>
      </footer>
    </li>

    <li> 
      <img src="../../assets/imagem.jpg" alt="image">
      <footer>
        <strong>{{MOVIES.name}}</strong>
        <p>{{MOVIES.date}}</p>
      </footer>
    </li>

    <li> 
      <img src="../../assets/imagem.jpg" alt="image">
      <footer>
        <strong>{{MOVIES.name}}</strong>
        <p>{{MOVIES.date}}</p>
      </footer>
    </li>

    <li> 
      <img src="../../assets/imagem.jpg" alt="image">
      <footer>
        <strong>{{MOVIES.name}}</strong>
        <p>{{MOVIES.date}}</p>
      </footer>
    </li>
  </ul>
</div>
